@use "background";

.header {
    position: relative;
    top: 0;
    width: 100%;
  h1 {
    font-family: background.$logo-font;
    letter-spacing: 0.082;
    font-weight: 700;
    margin-left: 20px;
    color: #333;
  }
}

.addTask {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    input {
      width: 622px;
      height: 55px;
      background: rgba(255, 251, 251, 0.71);
      border: none;
      font-size: 1.1em;
    }

    ::placeholder{
          font-size: 1.2em;  
    }

    button{
        cursor: pointer;
        border-radius: 20px;
        background: #000; 
        width: 100px;
        height: 50px;
        color: white;
        font-size: 1.2em;
        letter-spacing: .008em;
        border: none;
        border-radius: 10px;
        margin-left: 20px;
    }
  }
}


.Lists{
    width: 100%;
    display: flex;
    margin-top: 40px;
    padding: 20px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    .todolist{
        min-width: 309px;
        width: 30%;
        height: 500px;
        background-color: rgba(255, 251, 251, 0.71);

        h1{
            font-family: background.$logo-font;
            margin-left: 12px;
            font-size: 22px;
        }
    }
}

.Footer{
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 45px;
    div{

        a{
            font-size: 2.5em;
            margin: 0px 10px;
            color: #333;
        }

    }
}

@media only screen and (max-width: 768px) {

    .addTask{
        div{
            input{
                width: 450px;
                margin-bottom: 10px;
            }
        }
    }
}

@media only screen and (max-width: 412px) {

    .addTask{
        div{
            input{
                width: 350px;
            }
        }
    }
}